@import './global.scss';

button {
    font-size: 12px;
    font-weight: bold;
    background-color: $button-color;
    padding: 14px 20px;
    margin: 0px 15px 15px 0;
    border: none;
    cursor: pointer;
}