$primary-color: #1AA7CC;
$lighten-primary-color: lighten($primary-color, 50%);
$hover-color: #ECECEC;

$navbar-active-color: #FFFFFF;

$button-color: #50AE54;

html, body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}